input{
	margin: 5px 5px 5px 5px;
	text-align: center;
	border: 2px solid black; 
    padding: 5px; 
}

button{
	margin: 5px 5px 5px 5px;
	border: 1px solid black; 
    padding: 3px; 
}

h1{
	font-size: 20px;
	font-weight: bold;
	font-family: "Arial", sans-serif;
	color: rgb(0, 0, 0);
}
select{
	margin: 5px 5px 5px 5px;
	text-align: center;
	border: 2px solid black; 
}
