	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		<div class="container">
			<h1>Admin</h1>
			<a routerLinkActive="active" routerLink="create-user">Add User</a> 
			<a routerLinkActive="active" routerLink="create-course">Add Course</a> 
			<a routerLinkActive="active" routerLink="course-list">Course List</a> 
			<a routerLinkActive="active" routerLink="user-list">User List</a> 
			<a routerLinkActive="active" routerLink="list-student">Student List</a>
		</div>
		<router-outlet></router-outlet>
	</body>
	</html>
